/* This is the start of the common css for most of my esp projects */
:root {
	--bg-color: #c6cbd4;
	--main-bg-color: #eaeaea;
	--border-color: #6a6a6a;
	--text-color: #393939;
	--heading-color: #202020;
	--link-color: #767e84;
	--active-link-color: #666c7b;

	background-color: var(--bg-color);
	color: var(--text-color);
	color-scheme: light dark;
	text-align: center;
}

body {
	display: inline-block;
	min-width: 100%;
	margin: 0px;
	padding: 0px;
}

main,
.main {
	background-color: var(--main-bg-color);
	font-size: 2rem;
	border: 4px solid var(--border-color);
	border-radius: 10px;
	display: inline-block;
	margin: 3em 0px;
	padding: 30px;
}

code {
	background-color: #b9b9b9;
	padding: 2px 5px;
	border-radius: 4px;
	font-size: 0.9em;
}

h1 {
	color: var(--heading-color);
	font-size: 4rem;
	font-weight: bold;
	margin: 0.5em 0.3em;
}

h3, label, p {
	font-size: 2.5rem;
	font-weight: bold;
	margin: 0.8rem 0px;
}

h3 {
	color: var(--heading-color);
}

a:link,
a:visited {
	color: var(--link-color);
}

a:hover,
a:active {
	color: var(--active-link-color);
}

@media only screen and (prefers-color-scheme: dark) {
	:root {
		--bg-color: #0f0e0c;
		--main-bg-color: #1f1e1c;
		--border-color: #626259;
		--text-color: #80807e;
		--heading-color: #a5a5a0;
		--link-color: #656562;
		--active-link-color: #525250;
	}

	code {
		background-color: #121211;
	}
}
/* This is the end of the common css for most of my esp projects */

:root {
	--link-color: #8d9398;
	--active-link-color: #8d9398;
}

h1 {
	letter-spacing: -0.02em;
}

.message {
	border-radius: 25px;
	padding: 30px;
	font-size: 2.2rem;
}

.success {
	background-color: #34F220;
	border: 3px solid #1A7910;
}

.error {
	background-color: #F23420;
	border: 3px solid #791A10;
}

button {
	--bg-color-h: 212;
	--bg-color-s: 97%;
	--bg-color-l: 54%;
	--border-color: hsl(var(--bg-color-h), var(--bg-color-s), calc(var(--bg-color-l) * 2 / 3));
	background-color: hsl(var(--bg-color-h), var(--bg-color-s), var(--bg-color-l));
	color: #0f0f0f;
	font-size: 1.6rem;
	border: 2px solid var(--border-color);
	border-radius: 6px;
	box-shadow: -1px -1px 5px var(--border-color), 6px 8px 8px #000000cd;
	padding: 6px 3em;
	margin: 5px;
	margin-top: 12px;
	transition: all .5s;
	-webkit-transition: all .5s;
}

button:focus {
	outline: none;
}

button:hover {
	background-color: hsl(var(--bg-color-h), var(--bg-color-s), calc(var(--bg-color-l) * 16 / 15));
	border-color: hsl(var(--bg-color-h), var(--bg-color-s), calc(var(--bg-color-l) * 11 / 15));
	box-shadow: -1px -1px 5px var(--border-color), 3px 5px 6px #000000cd;
}

button:active {
	background-color: hsl(var(--bg-color-h), var(--bg-color-s), calc(var(--bg-color-l) * 17 / 15));
	border-color: hsl(var(--bg-color-h), var(--bg-color-s), calc(var(--bg-color-l) * 11 / 15));
	box-shadow: none;
}

.wakeup {
	--color-h: 0;
	--color-s: 0%;
	--color-l: 99%;
	width: 7ch;
	height: 7ch;
	color: hsl(var(--color-h), var(--color-s), var(--color-l));
	border-radius: 50%;
	font-size: 4rem;
	vertical-align: middle;
	padding: 5px;
	margin-top: 0.5em;
}

.wakeup:hover {
	--color-l: 95%;
}

.wakeup:active {
	--color-l: 90%;
}

.input {
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 0;
	margin: 6px;
	padding: 5px 30px;
	font-size: 2.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--link-color: #525550;
		--active-link-color: #525550;
	}

	.message {
		color: #2d2e2f;
	}

	.wakeup {
		--color-l: 15%;
	}

	.wakeup:hover {
		--color-l: 17%;
	}

	.wakeup:active {
		--color-l: 20%;
	}

	.input {
		background-color: black;
		color: white;
		border-color: white;
	}
}
