body {
	background-color: #acbec6;
	text-align: center;
}

.main {
	border: 4px solid #8c8c8c;
	border-radius: 10px;
	background-color: #ededed;
	padding: 30px;
	display: inline-block;
	margin: 4% 0;
	font-size: 2em;
}

h1 {
	margin-top: 2%;
}

.message {
	border-radius: 25px;
	padding: 30px;
	font-size: 1.1em;
}

.success {
	background-color: #34F220;
	border: 3px solid #1A7910;
}

.error {
	background-color: #F23420;
	border: 3px solid #791A10;
}

.wakeup {
	width: 7ch;
	height: 7ch;
	background-color: #258AFC;
	color: #fcfcfc;
	border: 3px solid #225AFC;
	border-radius: 50%;
	box-shadow: 3px 3px 6px 2px #225AFC;
	font-size: 2em;
	vertical-align: middle;
	margin-top: 0.5em;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.wakeup:hover {
	background-color: #237DE2;
	color: #f6f6f6;
	border-color: #2052E2;
	box-shadow: 2px 2px 4px 2px #225AFC;
}

.wakeup:active {
	background-color: #2171CD;
	color: #efefef;
	border-color: #184ACD;
	box-shadow: none;
}

.input {
	background-color: white;
	border: 2px solid black;
	border-radius: 0;
	margin: 6px;
	padding: 5px 30px;
	font-size: 1.2em;
}
